[2019-05-17 22:21] GrayJack opened #1 "Groups don't work as expected when a <NAME> is passed"
When a NAME is passed as argument, the output is wrong

### How to reproduce
[code]

[2019-05-18 00:38] #1 closed, assigned to nobody

[2019-05-18 12:49] kpp opened #2 "Use CString::new instead of CStr::from_bytes_with_nul"
**Is your feature request related to a problem? Please describe.**
https://github.com/GrayJack/coreutils/blob/643c77e3af00d3376587aedfd6ed19e6ace429b5/coreutils_core/src/group.rs#L112

**Describe the solution you'd like**
Use https://doc.rust-lang.org/std/ffi/struct.CString.html#method.new

It will reduce your code because you will no longer have to construct a Rust string with a \0:

[code]

It's

[2019-05-19 04:36] #2 closed

[2019-06-02 19:45] GrayJack opened #3 "[BUG] Groups utility not getting some system users that DO exist"
**Describe the bug**
Sometimes, when specifying a user to display it's groups, it error's out cause didn't found the user

**To Reproduce**
Steps to reproduce the behavior:
1. `groups bin`
2. `Unknown user bin`

**Expected behavior**
Should show the groups that the specified user belongs

**Screenshots**
![02-06-2019-16-47](https://user-images.githubusercontent.com/17973728/58766537-3d155280-8556-

[2019-07-12 09:32] GrayJack opened #4 "[BUG] Pwd don't get logical path"
**Describe the bug**
Pwd is getting physical path instead of logical with `--logical` parameter

**To Reproduce**
Steps to reproduce the behavior:
1. Run `pwd` with `--logical`
2. See error

**Expected behavior**
For example: Assume that `/bin` is a link to `/usr/bin`:
One should get `/bin` if `--logical` parameter is specified, `/usr/bin` otherwise

**Desktop (please complete the following inform

[2019-07-12 20:21] GrayJack commented on #4
Looks like `current_dir` already gets the absolute path

[2019-07-13 04:35] #4 closed

[2019-09-02 14:40] GrayJack commented on #3
Fixed on commit 3e97f514c86b82c616bb002c60627f7a51d75a89

[2019-09-02 14:40] #3 closed

[2019-09-27 19:49] GrayJack opened #6 "Implement wc"
Good for beginners, don't require dealing with unsafe.

[2019-09-27 19:50] GrayJack opened #7 "Implement unexpand"

[2019-09-27 19:50] GrayJack opened #8 "Implement expand"

[2019-09-27 19:57] GrayJack opened #9 "Coreutils_core: Improve docs"
We lack examples in the documentation of methods and structures, and also a better module level documentation

[2019-09-27 20:54] GrayJack opened #10 "Implement cat"

[2019-09-27 20:54] GrayJack opened #11 "Implement chgrp"

[2019-09-27 20:54] GrayJack opened #12 "Implement chmod"

[2019-09-27 20:55] GrayJack opened #13 "Implement chown"

[2019-09-27 20:55] GrayJack opened #14 "Implement chroot"

[2019-09-27 20:55] GrayJack opened #15 "Implement cp"

[2019-09-27 20:55] GrayJack opened #16 "Implement comm"

[2019-09-27 20:55] GrayJack opened #17 "Implement csplit"

[2019-09-27 20:55] GrayJack opened #18 "Implement cut"

[2019-09-27 20:55] GrayJack opened #19 "Implement date"

[2019-09-27 20:55] GrayJack opened #20 "Implement dd"

[2019-09-27 20:55] GrayJack opened #21 "Implement df"

[2019-09-27 20:56] GrayJack opened #22 "Implement diff"

[2019-09-27 20:56] GrayJack opened #23 "Implement du"

[2019-09-27 20:56] GrayJack opened #24 "Implement env"

[2019-09-27 20:56] GrayJack opened #25 "Implement expr"

[2019-09-27 20:56] GrayJack opened #26 "Implement hash"

[2019-09-27 20:56] GrayJack opened #27 "Implement head"

[2019-09-27 20:56] GrayJack opened #28 "Implement install"

[2019-09-27 20:56] GrayJack opened #29 "Implement join"

[2019-09-27 20:56] GrayJack opened #30 "Implement link"

[2019-09-27 20:57] GrayJack opened #31 "Implement ln"

[2019-09-27 20:57] GrayJack opened #32 "Implement ls"

[2019-09-27 20:57] GrayJack opened #33 "Implement mkdir"

[2019-09-27 20:57] GrayJack opened #34 "Implement mkfifo"

[2019-09-27 20:57] GrayJack opened #35 "Implement mv"

[2019-09-27 20:57] GrayJack opened #36 "Implement nl"

[2019-09-27 20:57] GrayJack opened #37 "Implement nohup"

[2019-09-27 20:57] GrayJack opened #38 "Implement od"

[2019-09-27 20:57] GrayJack opened #39 "Implement paste"

[2019-09-27 20:57] GrayJack opened #40 "Implement patch"

[2019-09-27 20:57] GrayJack opened #41 "Implement printf"

[2019-09-27 20:58] GrayJack opened #42 "Implement rm"

[2019-09-27 20:58] GrayJack opened #43 "Implement rmdir"

[2019-09-27 20:58] GrayJack opened #44 "Implement sed"

[2019-09-27 20:58] GrayJack opened #45 "Implement seq"

[2019-09-27 20:58] GrayJack opened #46 "Implement sort"

[2019-09-27 20:58] GrayJack opened #47 "Implement split"

[2019-09-27 20:58] GrayJack opened #48 "Implement stat"

[2019-09-27 20:58] GrayJack opened #49 "Implement stty"

[2019-09-27 20:58] GrayJack opened #50 "Implement tail"

[2019-09-27 20:58] GrayJack opened #51 "Implement tee"
This is a tracking issue for the `tee` utility.

### Required options and flags in the POSIX standard:

- [X] `a` (long: `append`)
- [X] `i` (long: `ignore-interrupts`)

### References

[POSIX standard text](https://pubs.opengroup.org/onlinepubs/9699919799/utilities/tee.html)

### Unresolved questions:

None yet

### History

The tool was implemented in the PR #137 with both required options/flags

[2019-09-27 20:59] GrayJack opened #52 "Implement test"

[2019-09-27 20:59] GrayJack opened #53 "Implement time"
This is a tracking issue for the `time` utility.

### Required options and flags in the POSIX standard:

- [ ] `p` (long: `posix`, alias: `portability`)

### Required extension options and flags:

- [ ] `l` (long: `rusage`)
- [ ] `o` (long: `output`)
- [ ] `a` (long: `append`, requires: `o`)

**Notes:**
¹ : Long name not defined on other implementation of this utility. Implementer must choose a lo

[2019-09-27 20:59] GrayJack opened #54 "Implement touch"

[2019-09-27 20:59] GrayJack opened #55 "Implement tr"

[2019-09-27 20:59] GrayJack opened #56 "Implement tsort"

[2019-09-27 20:59] GrayJack opened #57 "Implement uniq"

[2019-09-27 20:59] GrayJack opened #58 "Implement unlink"

[2019-09-27 20:59] GrayJack opened #59 "Implement uptime"

[2019-09-27 20:59] GrayJack opened #60 "Implement users"
Thinks that are needed
 - [x] libc crate implement the `utmpx` for solaris target
 - [x] libc crate implement the `utmpx` and `utpm` for netbsd
 - [x] make it work for OpenBSD using utpm
 - [x] Fuchsia doesn't have this structure, discover what structure are needed to implement this (simple not build for this

[2019-09-27 20:59] GrayJack opened #61 "Implement who"

[2019-09-27 21:02] EduRenesto commented on #10
I'll do this one!

[2019-09-29 13:54] FrancisMurillo commented on #45
Hi, planning to work on this issue. Planning to do the following:

1. Create a branch, `cli/seq` from `master`
2. Create a `seq` member based on `sleep`
3. Replicate `man seq` in terms of options and documentation
4. Write code

Any other advice or guidelines such as testing as well?

[2019-09-29 16:11] GrayJack commented on #45
Yes one advice

Always drop manually everything that needs to when `std::process::exit()`

As for testing, I do not have something more strict because we have lots of stuff that the result depends on the running system configuration, and I have no idea how to create tests for these cases.

But overall, everything that are not those cases, I would like tests cases. I usually give very descriptive n

[2019-09-30 06:21] Roger opened #62 "What's the problem with uutils?"
This is not a complain, I just want to understand the reason behind this project, since another trying to do the something similar exists, I understand the part that this don't try to be 100% compatible with coreutils (maybe making this easier to implement?), so would be cool to have the goals a bit more explained in the README

[2019-09-30 08:55] MichelKansou commented on #54
I'm interested in taking a look at this for Hacktoberfest and also will help my skills in Rust 😁

[2019-09-30 09:20] GrayJack commented on #54
Nice, have fun!! :smile:

[2019-09-30 09:55] GrayJack commented on #62
For me, and that's my take on this matter, there are 4 things

* uutils/coreutils uses some weird stuff, like the uumain function that goes somewhere (that I don't know) that has a Rust main, that could be cause it started way before cargo supported workspaces, not sure, but I try, hopefully, a more idiomatic approach using 2018 Rust;
* each utility uses a different cli helper;
* I feel like uutil

[2019-09-30 14:35] vaibhav-y commented on #57
I'll give this a shot. Been meaning to contribute here!

[2019-09-30 16:06] GrayJack commented on #57
Have fun :smile:

[2019-09-30 18:51] silverweed commented on #6
I'd like to do this one.

[2019-09-30 19:51] xboard commented on #41
I would like to take this one.

[2019-10-01 03:42] GrayJack commented on #6
Great, have fun doing it :smile:

[2019-10-01 03:43] GrayJack commented on #41
Great, have fun :smile:

[2019-10-01 08:16] kegesch commented on #19
I am starting to work on this :)

[2019-10-01 09:01] GrayJack commented on #19
Nice, have fun :smile:

[2019-10-01 17:47] Larisho commented on #35
I'd like to take this one

[2019-10-01 18:12] Larisho commented on #42
I'd like to take this one!

[2019-10-01 18:47] GrayJack commented on #35
Great, have fun doing it :smile:

[2019-10-01 18:48] GrayJack commented on #42
Have fun :smile:

[2019-10-01 19:37] silverweed commented on #43
I'd like to do this one too :)

[2019-10-01 19:52] GrayJack commented on #43
Go ahead, like always, have fun doing it :smile:

[2019-10-01 19:56] Larisho commented on #42
Quick question: in the `rm` utility, there's a `-i` flag, a `-I` flag, and then the long version is `--interactive=(never|once|always)`. Should I stick to the "always a short and long option" rule or make it compatible with the GNU version of `rm`?

[2019-10-01 20:06] GrayJack commented on #42
I would like that  "always a short and long option" rule continue, if you want to implement a specific options of other coreutils and there is only one of them, create the other one

Like I did with `id`, BSDs coreutils all have a `-p` flag, but no long version, so I just named the long `--pretty`

[2019-10-01 20:07] Larisho commented on #42
Thanks!

[2019-10-01 20:20] FedericoPonzi commented on #24
I would like to give a shot at this :)

[2019-10-01 20:31] GrayJack commented on #24
Ok, nice, have fun!! :smile:

If you end up needing unsafe, do the needed abstractions on `coreutils_core` crate, I still didn't do a styleguide for this crate, but I have some stuff in my mind, so if you end up having any doubt just ask me :3

[2019-10-01 20:47] #6 closed

[2019-10-02 12:45] kegesch commented on #15
I will start with this.

[2019-10-02 16:22] GrayJack commented on #15
Nice, have fun :smile:

[2019-10-02 18:46] rodrigocam commented on #33
I will work on this!

[2019-10-02 19:10] #24 closed

[2019-10-03 01:01] GrayJack commented on #33
Ok, have fun :smile:

[2019-10-03 06:29] Ashwin-A-K opened #69 "Implement Clear"

[2019-10-03 13:19] Larisho opened #71 "Add README to coreutils_core"
There are a lot of interesting utilities in the coreutils_core but there isn't a summary anywhere of those utilities. Adding a README to the coreutils_core directory with a listing of all the utilities and their possible uses could be beneficial to people interested in using this project and people interested in contributing to the project

[2019-10-03 17:31] AZanellato commented on #50
I think I can do this one :smile:

[2019-10-03 19:20] GrayJack commented on #71
Yeah, I agree with you, will work on that

[2019-10-03 19:53] #71 closed

[2019-10-03 20:57] mkindahl commented on #18
I could take a cut at this utility. :)

Which one should be implemented?
- Linux version: http://man7.org/linux/man-pages/man1/cut.1.html
- POSIX version: https://pubs.opengroup.org/onlinepubs/9699919799/utilities/cut.html

Linux version ignores some POSIX options (actually only `-n` it seems).

[2019-10-03 21:04] GrayJack commented on #18
If you feel like it, implement all the features of POSIX + extra Linux features.

Also, don't forget to use git message style on CONTRIBUTING.md on your commit messages

[2019-10-04 02:27] #42 closed

[2019-10-04 11:48] lunchboxav commented on #12
Hi, i’d like to take this one. Can I join the party?

[2019-10-04 12:01] muskuloes commented on #8
Hi @GrayJack , Can I work on this?

[2019-10-04 13:16] Larisho opened #73 "[BUG] Actions: Build for OpenBSD, DragonflyBSD, and Haiku broken"
Currently, the actions for those databases are trying to download the wrong toolchains.
According to https://forge.rust-lang.org/release/platform-support.html,

OpenBSD: x86_64-unknown-openbsd
DragonflyBSD: x86_64-unknown-dragonfly
Haiku: x86_64-unknown-haiku

[2019-10-04 14:34] #69 closed

[2019-10-04 14:35] GrayJack commented on #50
Nice, have fun :smiley:

[2019-10-04 14:35] GrayJack commented on #12
Of course, have fun doing it :smiley_cat:

[2019-10-04 14:36] GrayJack commented on #8
Yes, of course :smile:

[2019-10-04 14:37] Larisho commented on #73
Sorry--you're right. I misread the error in the logs. Closing

[2019-10-04 14:37] #73 closed

[2019-10-04 15:13] GrayJack commented on #73
No worries, that problem that made me insert a manual compilation in the table

[2019-10-04 15:25] GrayJack opened #75 "[BUG] rm: When iterative on multiple files, one no and the program exits with error code"
**Describe the bug**
When one use the `-i` option and and give one 'no' answer, the program exits

**To Reproduce**
Steps to reproduce the behavior:
1. Run command with `-i <FILE1> <File2>`
2. See error

**Expected behavior**
Just go to the next

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Linux 5.12.

[2019-10-04 15:28] GrayJack opened #76 "[BUG] rm: Should always ask when file is write protected"
**Describe the bug**
When a file file is write protected (read only), rm should alway ask (`-i` or not) unless `-force` is use

**To Reproduce**
Steps to reproduce the behavior:
1. Run command: `rm <READ_ONLY_FILE>`
2. See error

**Expected behavior**
Ask if want to remove

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following inform

[2019-10-04 17:56] #75 closed

[2019-10-04 17:58] #76 closed

[2019-10-05 07:43] Ashwin-A-K opened #78 "Implement shutdown"

[2019-10-05 14:50] GrayJack commented on #78
Shutdown is not part of any coreutils that I'm aware of :thinking:

What are your thought on this?

[2019-10-05 16:43] kegesch commented on #15
@GrayJack i ran into a problem here. Maybe you know how to solve it. `cp -p -R symlink` should copy a symlink and preserve its metadata. But apparently there is no way in Rust to copy a symlink. You can only create one. But also you can not set a file's metadata, at least i could not find any way to do so. Do you have an idea?

[2019-10-05 18:30] Ashwin-A-K commented on #78
I wasn't sure about that. I wanted to ask.

[2019-10-05 18:46] GrayJack commented on #78
I've been searching, normally is the init system that implement that

[2019-10-05 18:47] #78 closed

[2019-10-05 18:50] Ashwin-A-K commented on #78
Ok..

[2019-10-06 05:36] Sacules commented on #32
I'd like to give this one a try :)

[2019-10-06 14:46] Ashwin-A-K commented on #54
Is it ok... if i work on this ?

[2019-10-06 18:07] MichelKansou commented on #54
@Ashwin-A-K I already finished touch initial implementation I still need to finish the unit test for it

[2019-10-06 20:10] palfrey opened #79 "Packaging support"
Is there any interest in PRs for packaging for various operating systems? e.g. Debian, Alpine, Homebrew for OS X (although they probably wouldn't accept it until there's a release)

[2019-10-06 21:03] GrayJack commented on #32
Go ahead, have fun :smiley:

[2019-10-06 21:05] GrayJack commented on #79
There is, yes, I just don't do myself cause I dunno how to do it, the only one I know is for Arch based systems

[2019-10-06 21:10] GrayJack opened #80 "[BUG] Rmdir: error when -Ip on legit cases"
**Describe the bug**
When using both `-p` and `-I` on rmdir, it will give a error when not needed

Looking at the implementation, when both FLAGS happens at the same time, `fs::remove_dir()` will be called twice for the same target

**To Reproduce**
Steps to reproduce the behavior:
1. Run command with `-pI <dir>`
2. See error

**Expected behavior**
Exit with no errors

**Screenshots**
If applicabl

[2019-10-06 23:06] GrayJack commented on #80
@silverweed It's fine for you that I change come of your code? I just noticed this bug because of a few tests that I didn't thought back then and had to use today

[2019-10-07 02:38] Celeo commented on #59
For this command, what do you want it to return? I.e. gnu uptime returns a line of current time, system uptime (configurable with --pretty or --since), user count, and average load.

[2019-10-07 04:45] Ashwin-A-K commented on #54
Ok,,. Cool👍🏻

[2019-10-07 05:25] GrayJack commented on #59
For that, Since it's just 3 different behaviors and all make a lot of sense to me, all of gnu flags are wanted

[2019-10-07 05:47] silverweed commented on #80
Sure, please do!

[2019-10-07 08:14] #80 closed

[2019-10-07 18:36] Larisho commented on #48
I want to claim this issue as well!

[2019-10-07 20:31] GrayJack commented on #48
Yes, sure, just remember to develop on another branch other than master, create a new one for every pull request, just for the sake of good practices :smiley:

Have fun, doing this one

[2019-10-08 13:14] GrayJack commented on #15
I have to look into that, never done it

[2019-10-08 14:26] GrayJack commented on #15
How do you preserve the metadata on the other types of file?

[2019-10-08 17:48] kegesch commented on #15
`fs::copy()` copies a file with metadata. And to not preserve it i  use `io::cop()`. For `dir`s  i have the same problem as with symlinks. There is function in `fs` to set permissions but i found nothing about modified, creation date etc.

[2019-10-08 23:44] bojan88 commented on #7
Hey, I can take this one.

[2019-10-09 15:01] GrayJack commented on #7
Sure, go for it, :smile:

[2019-10-10 19:12] GrayJack commented on #15
Aha!!! Found it, to preserve attributes you have to hardlink the files

So, if you want to copy a symlink, you have to hardlink the link to another path, and hardlink will preserve the attributes

[2019-10-10 22:26] twe4ked commented on #27
I'll take this one!

[2019-10-12 14:12] kegesch commented on #15
Yes, but a hardlink is not a symlink if i understood correctly.

[2019-10-12 14:24] GrayJack commented on #15
Yes, but all code that I saw (FreeBSD, NetBSD and uutils) does that when preserving a copy a symlink preserving metadata

[2019-10-12 21:17] kegesch commented on #79
I could have a look homebrew packaging as soon as i have time.

[2019-10-13 02:00] #30 closed

[2019-10-13 12:53] kegesch opened #86 "Date: Implement settimeofday"
Currently `date` is lacking of the ability to set the datetime of the OS.
This could be implemented by utilising the Linux function `settimeofday`.

[2019-10-13 13:10] kegesch opened #87 "Date: Implement correct parsing of input date"
With a given input date the current implementation uses `chrono`'s strftime to parse the date. Unfortunately it can not parse a date if it turns out that it is not unique (e.g. parsing `"2018"` with `"%Y"`).
The parsing should be improved such that if a datetime is not unique the missing values should filled with the ones of the current time (e.g: parsing `"2018"` with `"%Y"` should result in `"01

[2019-10-13 13:44] kegesch commented on #79
Also this might come in handy: [semantic-release](https://github.com/semantic-release/semantic-release)

[2019-10-13 14:51] #58 closed

[2019-10-13 15:21] GrayJack commented on #86
That would function well on other platforms?

[2019-10-13 15:27] kegesch commented on #86
BSD yes. Solaris i don't know. But i think this is a basic unix function so it should work.

[2019-10-13 16:42] palfrey commented on #79
@kegesch semantic-release seems very Javascript-specific. Given the lack of a package.json in Rust projects, I'm not sure how well it'll work?

[2019-10-13 16:48] kegesch commented on #79
@palfrey yes it is, but I don't think that it is limited to just js-projects. If it doesn't work with Rust, [this](https://github.com/semantic-rs/semantic-rs) should work though. It is just not really maintained anymore.

[2019-10-13 17:00] GrayJack commented on #86
I was looking at the libc crate to see what platforms expose that function, looks like it's missing on Solaris, OpenBSD and Haiku

Note that libc not exposing it doesn't mean that it doesn't exist on the platform, as example, I filled 2 issues on libc crate to expose utmpx on NetBSD and Solaris, cause they have that structc and methods, but they are not present on libc crate

[2019-10-13 17:05] kegesch commented on #86
Alright. [OpenBSD](https://man.openbsd.org/settimeofday.2) at least has a man page for that. I couldn't find anything about Solaris.

[2019-10-13 17:15] GrayJack commented on #86
I found for illumos: https://illumos.org/man/3c/settimeofday
Most of the time their API are the same, so I'm guessing Solaris has it too

[2019-10-13 17:30] GrayJack commented on #86
I have opened 2 issues on libc crate

[2019-10-13 18:29] GrayJack commented on #86
Update: I made pull request to add that function on libc, hopefully they will be merged easilly

[2019-10-14 17:35] FedericoPonzi commented on #37
Can I give a shot at this? :D

[2019-10-14 20:20] GrayJack commented on #37
of cource :smile:

[2019-10-14 21:29] palfrey commented on #26
Do you mean all the items from https://www.gnu.org/software/coreutils/manual/html_node/Summarizing-files.html except `wc` or something else? Possibly https://www.computerhope.com/unix/bash/hash.htm but AFAIK that's a bash builtin not part of coreutils

[2019-10-14 21:31] palfrey commented on #39
I'd like to pick this one up. I'm assuming the set of options from https://www.gnu.org/software/coreutils/manual/html_node/paste-invocation.html seems a reasonable set of defaults.

[2019-10-14 22:02] GrayJack commented on #26
Kinda all the items from that list (except wc) but on only one binary, like specifying as a parameter the the type of hash that you want, that's the only util that I thought to move away from POSIX and GNU implementations

[2019-10-15 00:16] GrayJack commented on #39
Yes, it is!! Have fun :smile:

[2019-10-15 16:54] #35 closed

[2019-10-16 16:45] GrayJack commented on #23
Ok, I would use walkdir, since it's it's version is >= 1.0.0, also, a very known member of the rust community develops it (most, if not all, of his libraries/softwares are very performatic)

[2019-10-16 17:12] GrayJack commented on #86
Update: OpenBSD now expose that function: https://github.com/rust-lang/libc/pull/1548

[2019-10-17 20:41] GrayJack commented on #86
Update: Solaris/Illumos now expose that function, next libc crate release they will have it

[2019-10-18 01:12] GrayJack commented on #59
@Celeo Are you already working on this? I self-assigned me cause I forgot that you were interested

[2019-10-18 01:14] Celeo commented on #59
I was playing around with it, but I can't commit right now to doing it in a timely manner.

[2019-10-18 05:40] GrayJack commented on #59
Would be ok if I did it?

[2019-10-18 05:49] Celeo commented on #59
Absolutely. Feel free to pull anything from what I did get done if it helps! https://github.com/Celeo/coreutils/commit/1aed0d138286e9cbfa7d67597dbcef842d8c074a

[2019-10-18 05:52] GrayJack commented on #87
Checkout this crate: https://docs.rs/time/0.1.42/time/index.html

[2019-10-18 16:53] kegesch commented on #86
I started working on this since they released a new version.
You can have look [here](https://github.com/kegesch/coreutils/tree/util/date-settimeofday)
* Problem 1: Apparently `libc` exposes a new type `timezone` for each distro. So I don't really know how to use this type which is needed for `settimeofday` apart from branching the code for each distro. Maybe you have an idea?
* Problem 2: The `ti

[2019-10-18 17:38] GrayJack commented on #86
Timezone in libc is specifies as a empty enum, probably cause they don't want anyone creating it

[2019-10-18 17:42] GrayJack commented on #86
Aha, found it, timezone struct is historical and should be just a NULL pointer when calling the functions

As for problem 2, time crate implements a `Tm` struct, the represents in a higher level the `tm` struct in c, inside it has the thing you wanted. ref: https://docs.rs/time/0.1.42/time/struct.Tm.html

[2019-10-18 18:11] kegesch commented on #86
Okay, thanks a lot. I give it a shot.

[2019-10-18 18:15] GrayJack commented on #59
Done, only blocking stuff is the lack o utmpx on OpenBSD and the libc crate not exposing utmpx.h API on NetBSD and Solaris

[2019-10-18 20:19] #87 closed

[2019-10-19 18:48] ConnorBach commented on #22
I'll take this one!

[2019-10-19 23:05] GrayJack commented on #22
Have fun :smile:

[2019-10-20 20:35] #18 closed

[2019-10-21 19:30] #33 closed

[2019-10-21 22:18] rafaelcaricio commented on #55
I would like to try implementing this one.

[2019-10-22 05:52] mkindahl opened #100 "[BUG] error message format and exist code is not clear"
**Describe the bug**

Requirements on how the error message should look is not clear and what exit code to return is not clear in `CONTRIBUTING.md`.

**To Reproduce**

Read `CONTRIBUTING.md`

**Expected behavior**

Expecting the following two points to be in `CONTRIBUTING.md`:

* That the format should be `<tool>: <message>`
* That the exit code should be 0 for successful execution, 2 for errors t

[2019-10-22 06:39] mkindahl commented on #17
I could take a shot at this one.

[2019-10-22 18:54] GrayJack commented on #17
Sure, have fun :smile:

[2019-10-22 19:45] argentite commented on #10
I want to work on this. Is supporting -b -n and -s enough?

[2019-10-22 19:59] FedericoPonzi commented on #100
Regarding the "expected behavior" section:
Isn't the first point already there? (Since a while actually)
Regarding the second point, for me it's kind of obvious: since we're implementing coreutils tools the expected exit code should be the same as the original tools (which should hopefully coincide to the behavior described in the link you posted).
Does this solve your issue, or do you feel it sho

[2019-10-22 21:44] FedericoPonzi commented on #34
Can I haz this? :)

[2019-10-22 22:34] #37 closed

[2019-10-23 02:30] GrayJack commented on #100
For me the part of the exit code was clear to me that should be the same as the original tools
About the message format, I also thought it was clear, since all original tools use it

[2019-10-23 05:56] mkindahl commented on #100
Well... it is good to be clear on these issues in anything involving more than one person. Remember that in a room with developers there it at least as many different opinions as developers. ;)

Now, this is the text before Eric's change:

[code]

There is nothing about the error message from the tool or exit code (the text above only covers commit messages). The text after Eric's change is what I

[2019-10-23 18:57] GrayJack commented on #100
So can I close this?

[2019-10-23 19:39] FedericoPonzi commented on #34
ping @GrayJack

[2019-10-23 21:18] GrayJack commented on #34
Sure, sorry, I was buried in many issues/PR messages
Have fun :smile:

[2019-10-23 21:38] mkindahl commented on #100
Absolutely. :)

[2019-10-23 21:39] #100 closed

[2019-10-25 02:00] #7 closed

[2019-10-25 20:17] muskuloes commented on #8
Hi, sorry for the inactivity on this issue. I haven't had the time to work on it yet. Also, I've seen that `unexpand` has already been implemented. So, if @bojan88 (whom I know from another project) wouldn't mind, he can implement this one as well :) .

[2019-10-25 20:25] bojan88 commented on #8
Please, feel free to implement it. Of course I don't mind.
I might join for code reviews

[2019-10-25 20:34] muskuloes commented on #8
It's best that you do `expand` as it'll be very similar to `unexpand` and you already own the code for that. I won't like to have my name on it, if I just mostly copied your code. I'll find some other issue to work on some other time 😉.

[2019-10-25 23:03] GrayJack commented on #8
In that case, if most of the code is copied, is just a matter to put his name (with yours too) on the crate and author text

[2019-10-25 23:53] GrayJack commented on #10
@EduRenesto Are you still working on this?

[2019-10-26 00:02] GrayJack commented on #10
I require a minimum set of of flags that are common in major versions of coreutils (Linux, FreeBSD, NetBSD, OpenBSD, DragonflyBSD, Illumos/Solaris)* to consider the tool to be considered `Done`, but if needed, it can be made in several pull requests.

* If 3~4 of the 6 implements a feature, it is a requirement to be the considered `Done`

[2019-10-27 00:20] bojan88 commented on #8
I also don't mind if you copy most of my code.

[2019-10-27 20:05] muskuloes commented on #8
Alright guys. I'll do it in the week. @bojan88, I'll add your name as author and will appreciate you reviewing the PR 😅.

[2019-10-27 20:52] #34 closed

[2019-10-28 00:11] ladysamantha commented on #14
I'm happy to take this one!

Quick question: should it be implementing the [Linux options flavor](https://linux.die.net/man/1/chroot) or the [BSD flavor](https://www.freebsd.org/cgi/man.cgi?chroot(8))? Or should it be like the uutils version [which seems to have a mix of both](https://github.com/uutils/coreutils/blob/master/src/chroot/chroot.rs#L35)?

[2019-10-28 05:04] GrayJack commented on #14
Since I require to have both long and short for flags/options, it would be a mix of both.

Remember to look at the [contribution guide](https://github.com/GrayJack/coreutils/blob/master/CONTRIBUTING.md) and have fun :smile:

[2019-10-28 12:17] GrayJack commented on #10
@argentite
Seems like @EduRenesto doesn't want to continue, would like to continue where he stopped? Maybe implementing what he did not

[2019-10-31 23:52] halfbro commented on #52
I'm interested in implementing this

What do you think should be done about some of the `test` syntaxes? It seems like clap is not a great fit for doing some of the parsing that `test` expects, like `=`, `==`, etc.

Also, how should I approach handling calling test using `[` vs. `test`?

[2019-11-01 00:11] GrayJack commented on #52
Hmm no sure how to handle this, but you can just accept test at first

Clap can handle it with a value that can be multiple `EXPRESSION`, get it's value and parse it.
That is my guess

[2019-11-01 19:52] #23 closed

[2019-11-03 00:50] bojan88 commented on #36
I'm going to start working on this one

[2019-11-03 09:09] #14 closed

[2019-11-03 11:55] #8 closed

[2019-11-10 22:48] #86 closed

[2019-11-13 00:56] #36 closed

[2019-11-14 06:25] mkindahl opened #111 "csplit: implement --suppress-matched"
Utility `csplit`does not support option `--suppress-matched`, so it should be added.

[2019-11-14 06:26] mkindahl opened #112 "csplit: add option `--elide-empty-files`"
The option `--elide-empty-files` is not supported by `csplit`.

[2019-11-14 06:28] mkindahl opened #113 "csplit: support option `--suffix-format`"
Utility `csplit`does not support option `--suffix-format`.

[2020-01-06 20:24] GrayJack commented on #26
I'm thinking in something like this
`hashsum <hash type> [FILE ...]`

[2020-02-08 00:58] #60 closed

[2020-02-08 05:22] #59 closed

[2020-03-02 18:06] GrayJack opened #114 "Touch: Make -d accept more complex date format"
**Is your feature request related to a problem? Please describe.**
All other implementation accept more complex date strings, right now this implementation is `YYYY-MM-DD hh:mm:ss]`

**Describe the solution you'd like**
All other implementation accept `YYYY-MM-DDThh:mm:SS[.frac][tz]` where
                   YYYY	   At least four decimal digits	representing the year.
		   MM, DD, hh, mm, SS

[2020-03-02 18:19] GrayJack opened #115 "Touch: Implement -t option"
**Is your feature request related to a problem? Please describe.**
Touch doesn't implement `-t` option, it is implemented on all other touch implementation

**Describe the solution you'd like**
Add a flag `-t` that follows:

[code]

[2020-04-15 09:24] travankor opened #116 "Man pages"
`coreutils` is not really a first-class *NIX citizen without man pages.

There's several different tools to solve this with, idk what will work best. The NetBSD and OpenBSD man pages are excellent reference material and can be partially copied. I would avoid GNU man pages (and texinfo) at all costs.

[2020-04-15 23:53] GrayJack commented on #116
I agree!! Looks like clap v3 will have a feature to produce man pages, that was the reason that I picked clap to use universally in the project

Here a [reference](https://rust-cli.github.io/book/in-depth/docs.html) where I got it

[2020-04-23 01:25] GrayJack opened #117 "Head: support - input"
**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**
Support for `-` as input on head tool

**Describe alternatives you've considered**
Not support at all. Most BSD (I think Solaris and MacOS as well) don't have it and are fine with it.
But since other tools in this repository support this kind of input for files,  why not support for head a

[2020-04-23 01:28] GrayJack commented on #117
@twe4ked Can I mark you for code review when I or someone else implements it? Asking because you implemented it

[2020-04-23 01:30] twe4ked commented on #117
You sure can :)

[2020-06-18 10:46] Arcterus commented on #62
Hey, so I just stumbled upon this project and felt like I might as well answer some of these.

* `uumain` exists so that there is a unified entrypoint to each utility.  This allows the multicall binary (named `coreutils` currently, but formerly it was called `uutils`) to use the exact same code for a utility as when you compile the utility individually (_e.g._ you want a `cp` binary, not a symlink

[2020-06-18 11:44] GrayJack commented on #62
I see, like busybox, right?

Yeah, I agree, I mostly use Linux, FreeBSD and also NetBSD in some degree, so I decided to focus mostly on UNIX, but I don't have problems supporting Windows as well, I just don't use it and have no knowledge about the Windows API to do the same for every utility. Haiku is there because I do have a crazy friend that loves haiku and was interest in trying the project in

[2020-07-17 03:41] #54 closed

[2020-08-02 07:33] #117 closed

[2020-08-09 21:19] marcospb19 opened #122 "Uniq: Implement -f option"
### Description:
Implement `-f`/`--skip-fields` to Uniq.

From [the standard](https://pubs.opengroup.org/onlinepubs/9699919799/utilities/uniq.html):

Ignore the first fields fields on each input line when doing comparisons, where fields is a positive decimal integer. A field is the maximal string matched by the basic regular expression:
`[[:blank:]]*[^[:blank:]]*`

---

Obs: I did not implemented

[2020-08-09 21:20] marcospb19 commented on #57
Almost completed by #121 (PR), #122 (Issue) is pending (`-f` flag).

[2020-08-31 14:47] yehohanan7 commented on #45
Hi @GrayJack, not sure if @FrancisMurillo is working on this. I had few hours to work on this one, please review the PR -https://github.com/GrayJack/coreutils/pull/125

[2020-09-01 09:48] GrayJack commented on #45
Just missing `-f` flag now

[2020-09-01 09:59] GrayJack commented on #45
I just notice that when all 3 args are the same (1 1 1, or 2 2 2) it wont print the value

With default seq
[code]

Has output of
`1`

this version only exit without showing the number

[2020-09-05 15:06] marcospb19 commented on #122
Hey, @GrayJack, assign me for this! :smile:

I'm focusing in one of my personal projects, but I'm planing to implement it in october, is it alright?

[2020-09-05 15:11] marcospb19 commented on #122
I understood how it works heheh.

![image](https://user-images.githubusercontent.com/38900226/92308005-c7760e80-ef70-11ea-8c03-a2a9f83e15fc.png)

It ignores the comparison of the first fields, but displays the text of the first one.

[2020-09-05 17:14] GrayJack commented on #122
Yes, I can!! Np

[2020-09-05 18:33] marcospb19 commented on #122
Hahahah you just guessed that I want the `hacktoberfest` t-shirt  :eyes:.

[2020-09-05 19:58] marcospb19 opened #127 "Seq: Implement -f option"
**Is your feature request related to a problem? Please describe.**
Our `seq` doesn't implement `-f` option, but it is necessary to be considered completed.

**Describe the solution you'd like**
Add a flag `-f` based on [this](https://linux.die.net/man/1/seq):

[2020-09-05 21:36] GrayJack commented on #122
LOL, no, I have to put this label on other issues as well, last year hacktoberfest brought a lot of contributions!! It was super nice and fun

[2020-10-09 00:49] #115 closed

[2020-10-10 22:40] allevo commented on #46
Can I try to implement this?

[2020-10-11 09:34] GrayJack commented on #46
Of course!! :smile:
Any contributions are welcome

[2020-10-30 13:16] marcospb19 commented on #122
Done :D #131

[2020-10-31 00:25] #122 closed, assigned to marcospb19

[2020-12-28 10:11] kolharsam commented on #16
@GrayJack is this something I can pick up? If yes, then any suggestions/pointers regarding this issue?

[2020-12-28 12:13] GrayJack commented on #16
Hey, yes, you can pick it up!

My only suggestions are to read the CONTRIBUTING file and read the standard before anything. This is more of a tracking issue, so no need to feel forced to implement all options and flags listed on the issue text in one go.

And that list of required options/flags are only required to end the POSIX requirements, any extensions (behavior, flags and options not in the

[2020-12-29 16:16] GrayJack commented on #127
Closed by #131

[2020-12-30 12:47] GrayJack opened #133 "Seq: Missing last number on some cases"
**Describe the bug**
Sometimes the `seq` utils don't output the last number that should be printed

**To Reproduce**
Steps to reproduce the behavior:
1. Run command with `0.000000001 0.0000000001 0.000000002` as parameters
2. Command will output

[code]

**Expected behavior**
Expected this output:
[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/17973728/103351959-98395f

[2020-12-30 12:48] GrayJack opened #134 "Seq : Missing last output on some cases"
**Describe the bug**
Sometimes the `seq` utils don't output the last number that should be printed

**To Reproduce**
Steps to reproduce the behavior:
1. Run command with `0.000000001 0.0000000001 0.000000002` as parameters
2. Command will output

[code]

**Expected behavior**
Expected this output:
[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/17973728/103351959-98395f

[2020-12-30 12:49] #134 closed, assigned to nobody

[2020-12-30 15:19] GrayJack commented on #133
I found another more simple example:

`seq 1` should output:
[code]

But outputs nothing

Edit: Looks like this issue is unrelated to the first described in the OP. this one is related to the [valid_range](https://github.com/GrayJack/coreutils/blob/dev/seq/src/main.rs#L18) being incorrect in the comparison between `first` and `last`

[2020-12-30 15:55] GrayJack opened #135 "Seq: Does not output when FIRST and LAST are the same number"
**Describe the bug**
The `seq` utils outputs nothing when the FIST operand is the same as the LAST operand

**To Reproduce**
Steps to reproduce the behavior:
1. Run command with `FIRST` and `LAST` operands as the same number
2. Nothing will be displayed

**Expected behavior**
Output only one number, the same one as `FIRST` and `LAST` operands

**Screenshots**
![image](https://user-images.githubuse

[2021-02-04 04:17] #51 closed

[2021-02-13 04:03] #135 closed, assigned to nobody

[2021-03-07 01:00] envp commented on #53
Posting TODO here from #141:

Compatibility so far for `time.1`:

- [x] [POSIX.2](https://pubs.opengroup.org/onlinepubs/9699919799/utilities/time.html)
- [x] [MacOS](https://ss64.com/osx/time.html)
- [x] [Linux WITHOUT GNU extensions](https://man7.org/linux/man-pages/man1/time.1.html)
- [x] [Linux GNU extensions](https://man7.org/linux/man-pages/man1/time.1.html)
- [x] [FreeBSD](https://www.freebs

[2021-09-24 15:30] envp commented on #53
#144 adds features from BSD `time` commands. `-l` is still unimplemented, as that requires some more work on macos (discussed on the PR)

[2021-09-28 06:17] mkindahl commented on #17
Most of the implementation is done in https://github.com/GrayJack/coreutils/pull/109. What remains are:

- #111
- #112
- #113

[2021-09-28 06:18] mkindahl commented on #17
I think this issue can be closed and the remaining work are in the issues quoted above.

[2021-09-29 01:21] #17 closed

[2021-10-03 00:17] #43 closed

[2021-10-03 05:22] reastyn opened #148 "Seq: parsing arguments not working"
**Describe the bug**
There is an error with the parsing of input arguments

**To Reproduce**
When I run
```seq 1 1 10```
 it fails with an error `error: Found argument '1' which wasn't expected, or isn't valid in this context` because of breaking changes in the clap library.

**Expected behavior**
It should parse the arguments correctly

**Screenshots**
![image](https://user-images.githubuserconte

[2021-10-03 15:57] #148 closed, assigned to nobody

[2021-10-06 15:27] CaseyB commented on #32
Looks like this is done.

[2021-10-17 21:17] gahag commented on #133
Can I work on this?

[2021-10-17 22:13] GrayJack commented on #133
Sure thing @gahag! Have fun!

[2021-11-07 18:07] #133 closed, assigned to nobody

[2022-09-26 13:16] lynnpepin commented on #45
Heya, I'd like to take a crack at adding the `-f` flag and fixing this behavior so `seq 1 1 1` operates as expected!

[2022-10-01 16:01] lynnpepin commented on #45
Hi @GrayJack I couldn't reproduce the `1 1 1` problem from the dev branch.

Running `seq 1 1 1` returns `1`, as expected, when built using MacOS and Linux targets.

[2022-10-02 02:34] GrayJack commented on #45
Hi @lynnpepin, I believe the error in the behavior was fixed on PR #154 , but the `-f` flag remains unimplemented

Sorry, I forgot to mention here that the issue was fixed.

[2022-10-05 20:17] lynnpepin commented on #45
Understood! Focusing on the `-f` flag

[2022-10-17 12:15] ShisuiMadara commented on #16
@GrayJack Hey, I want to give this one a shot. Is it still available ?

[2022-10-17 13:48] GrayJack commented on #16
Hey @ShisuiMadara , it is available if you want to take a shot on this

[2022-10-26 11:36] ShisuiMadara commented on #16
Hey, I have completed and tested the implementation with the three flags mentioned. I have opened a pull request on the dev branch. @GrayJack

[2022-10-28 10:38] ShisuiMadara commented on #29
Hey, I want to pick up this one. Which flags do we have to implement for it? @GrayJack

[2022-10-28 13:04] GrayJack commented on #29
@ShisuiMadara  Usually, people implement the POSIX standard flags but can include fewer or more flags depending on the complexity.

[2022-11-01 20:45] lynnpepin commented on #45
Hey @GrayJack I'm going to call it quits on implementing `-f`. Couldn't figure it out, and I've definitely overcommited a bit! I think I need to tackle some more Rust before trying again.

As it stands, a good first issue for anyone else!